/*basic*/
*{
    margin: 0px;
    padding: 0px;
}
body{
font-family: 'Lato', sans-serif;
}
.first-pic{
width: 250px;
}
.intro{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    height: 400px;
    align-items: center;
}
.wellcoming{
    font-size: 50px;
    font-weight: 700px;
}
.btn-primary{
  padding: 10px 20px;
  background-color:#E55473;
  color: #FFFF;
  border: none;
  border-radius: 5px;
}
/*feature section*/
.heading,.description{
text-align: center;
padding-bottom: 15px;
}