/*basic*/
*{
    margin: 0px;
}
body{
font-family: 'Lato', sans-serif;
}
.first-pic{
width: 250px;
}
.intro{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    height: 400px;
    align-items: center;
    padding: 50px;
}
.wellcoming{
    font-size: 50px;
    font-weight: 700px;
    padding-bottom: 10px;
}
.wishing{
    padding-bottom: 10px;
}
.btn-primary{
  padding: 10px 20px;
  background-color:#E55473;
  color: #FFFF;
  border: none;
  border-radius: 5px;
}
/*feature section*/
.heading,.description{
text-align: center;
padding-bottom: 15px;
}
.feature{
    display:flex;
    color: #272727;
    text-align:center;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    text-decoration: underline;
    padding-bottom: 70px;
    justify-content: space-between;
}

.left, .middle, .right{
  padding: 50px 100px 90px 50px;
  width: 200px;
  height: 200px;
  
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.left{
    background-color:#A7216226
}
.middle{
background-color: #0597A026;
}
.right{
background-color:#477D1126;
}
/*hot deal section*/
.hot-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.hot-expression, .hot-text{
    text-align: center;
    padding: 10px;
}
.extra{
    margin-left: 200px;
}


/*Insta section*/
.social, .bio{
    text-align: center;
    padding-bottom: 15px;
}
.second-pic{
    display: flex;
    justify-content: space-between;
   
    padding-top: 20px;
    padding-bottom: 0px;
    height: 250px;
    width: 250px;
}
.pics{
    justify-content: space-between;
    margin-bottom: 50px;
}
/*Latest deal section*/
.section{
    margin-bottom: 50px;
}
.bg-image{
  margin-top: 250px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.summery{ 
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 0px;
    margin-bottom: 100px;
}
.bg-image{
    
       
        position: relative;
    }

    .offer1 {
        position: absolute;
        font-weight: 700px;
        text-align: center;
        top: 17px;
        left: 50px;
        margin-top: 100px ;
        margin-left: 500px;
    }

    .offer2 {
        position: absolute;
        bottom: 20px;
        left: 10px;
        margin-bottom: 250px ;
        margin-left: 550px;
    }
    .last{
        position: absolute;
        bottom: 20px;
        left: 10px;
        margin-bottom: 200px ;
        margin-left: 900px;
    }
    .mail{
        position: absolute;
        bottom: 20px;
        left: 10px;
        margin-bottom:80px ;
        margin-left:200px;
    }
    /*footer section*/
    .footer{
        height: 300px;
        width: auto;
        background-color: black;
        color: white;
    }
    .fl{
        color: #E55473;
    }
    .conclusion{
        text-align: center;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .last-text{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .copy{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        color: red;
    }